.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.informational-card {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 10px;
    background-color: beige;
}

.content {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: center;
    color: black;
}

.image>div {
    width: 300px;
}

.lottie {
    width: 100%;
}