.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .informational {
    flex: 0.5;
    padding: 20px;
} */

.informational-card {
    /* margin-bottom: 40px; */
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 10px;
}

.content {
    display: flex;
    width: 700px;
    /* padding-top: 50px; */
    align-items: center;
    justify-content: center;
}

.image {
    /* display: flex;
    width: 0;
    flex-direction: column;
    flex: 0.25;
    justify-content: flex-start;
    align-items: flex-start; */
}

.image>div {
    width: 300px;
}

.lottie {
    width: 100%;

}