.news-section {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: beige;
    align-items: center;
}

.news-header {
    display: flex;
    align-items: center;
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-article {
    display: flex;
    margin-bottom: 20px;
    text-decoration: none;
}

.news-article img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.title {
    margin: 0;
    color: #333;
}

.article-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #777;
    margin-top: 10px;
    margin-left: 10px;
}

.vert-line {
    margin-left: 5px;
}

.news-header p {
    margin-left: 10px;
}

.news-header span {
    margin-left: 10px;
}

.load-more {
    background-color: goldenrod;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 25%;
    transition: 0.3s ease-in-out;
}

.load-more:hover {
    background-color: green;
}

.news-content {
    width: 100%;
    display: grid;
}

.news-content p {
    text-align: end;
    align-self: end;
    margin: 2px;
}

.title {
    align-self: center;
    margin-top: 20px;
}