.positive {
    color: green;
}

.negative {
    color: red;
}

.neutral {
    color: grey;
}

.symbol-crypto-list {
    color: goldenrod;
}

.symbol-name-list {
    color: beige;
}

.current-price-coin {
    color: beige;
}

.market-cap-coin {
    color: beige;
}