.row {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    flex-wrap: wrap;
}

.row-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 50px;
}

.row a {
    display: flex;
    text-decoration: none;
    margin: 5px;
    width: 100%;
}

.row a img {
    max-width: 100px;
}

.symbol-name,
.current-price,
.gain-to-date,
.market-cap {
    margin: 5px 0;
    text-align: center;
}

.symbol-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.symbol-name-inside {
    display: flex;
    flex-direction: column;
}

.trade-btn {
    text-align: center;
}

.trade-btn a {
    text-decoration: none;
    background-color: beige;
    color: black;
    padding: 5px 10px;
    width: 80%;
    margin: 10px auto;
    transition: 0.3s ease-in-out;
}

.trade-btn a:hover {
    background-color: #003e27;
    color: goldenrod;
}

h2 {
    text-align: center;
}

.item {
    margin-bottom: 30px;
    width: 900px;
    display: flex;
    justify-content: center;
}

a {
    justify-content: space-around;
    align-items: center;
}

.guideline {
    display: flex;
    font-size: 10px;
    margin-left: 10px;
    width: 100%;
    height: 30px;
    color: white;
}

.cur-price {
    margin-left: 280px;
}

.g2d {
    margin-left: 30px;
}

.mar-cap {
    margin-left: 30px;
}

.trending-heading {
    font-size: 40px;
    background-color: beige;
    color: goldenrod;
    height: 100px;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.load {
    padding-bottom: 20px;
}

.load button {
    color: black;
    background-color: beige;
    box-shadow: none;
    border: none;
}