.row {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    flex-wrap: wrap;
}

.row-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 50px;
}

.row a {
    display: flex;
    text-decoration: none;
    border: 1px solid #ccc;
    margin: 5px;
    width: 100%;
}

.row a img {
    max-width: 100px;
}

.symbol,
.name,
.current-price,
.gain-to-date,
.market-cap {
    margin: 5px 0;
    text-align: center;
}

.trade-btn {
    text-align: center;
    margin-top: auto;
}

.trade-btn a {
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
}

.trade-btn a:hover {
    background-color: #2980b9;
}

h2 {
    text-align: center;
}

.item {
    margin-bottom: 30px;
    width: 900px;
    display: flex;
    justify-content: center;
}

a {
    justify-content: space-around;
    align-items: center;
}

.guideline {
    display: flex;
    padding: 0;
    margin: 0;
}

.guideline h2 {
    padding: 0;
    margin: 0;
}