.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-column {
    width: 1425px;
    height: 1300px;
}

.right-column {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 20px;
    align-items: center;
}

select {
    width: 50px;
}