.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.left-column {
    width: 1000px;
    height: 700px;
    margin-top: 30px;
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-top: 30px;
}

select {
    width: 50px;
}