.input-wrapper {
    background-color: beige;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

input {
    background-color: transparent;
    border: none;
    height: 45.2px;
    font-size: 1.25rem;
    width: 100%;
    color: black;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

#search-icon {
    color: rgb(1 45 27);
    margin-left: 10px;
}