.results-list {
    position: absolute;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 101;
}