.global-nav {
    top: 0;
    width: 100%;
}

.global-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

.global-nav ul li {
    float: left;
}

.global-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.global-nav ul li a:hover {
    background-color: #111;
}