* {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    background-color: #003e27;
}

.global-nav {
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 100;
    overflow: visible;
}

.global-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #003e27;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.global-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.3s ease-in-out;
}

.global-nav ul li a:hover {
    background-color: beige;
    color: goldenrod;
}

.global-nav ul li {
    display: flex;
    align-items: center;
}