.crypto-footer {
    background-color: #222;
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
    margin-left: 10px;
}

.footer-section h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: beige;
}

.footer-section p {
    font-size: 14px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.footer-section a:hover {
    color: green;
}

.newsletter-form {
    margin-top: 10px;
    display: flex;
}

.newsletter-form input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-right: 5px;
    color: beige;
}

.newsletter-form button {
    width: 30%;
    background-color: beige;
    color: green;
    cursor: pointer;
}

.footer-bottom {
    text-align: end;
}