.help-section {
    max-width: 1300px;
    height: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.help-section-text h2 {
    color: beige;
    font-size: 30px;
    margin-bottom: 20px;
}

.help-section-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    list-style: none;
}

.help-section-item {
    flex-basis: 48%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-sizing: border-box;
    background-color: beige;
}

.help-section-item:nth-child(even) {
    margin-right: 0;
}

.help-section-item:hover {
    transform: scale(1.05);
}

.FaInfoCircle,
.IoChatboxEllipses,
.SiGoogledocs,
.FaMicrophoneLines {
    font-size: 100px;
    margin-bottom: 10px;
    color: #3498db;
}

.help-section-item h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.help-section-item p {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.help-section-item a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.help-section-item a:hover {
    text-decoration: underline;
}