.full-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.wrapper {
    display: flex;
    flex-direction: column !important;
}


















/* aside {
    grid-area: 1 / 1 / 4 / 2;
}

.wrapper {
    grid-area: 1 / 2 / 4 / 4;
}

.watchlist-header {
    grid-area: 1 / 2 / 2 / 4;
}

.card {
    grid-area: 2 / 2 / 4 / 4;
} */