.full-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.mini-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

aside {
    background-color: #002817;
}

aside h2 {
    color: goldenrod;
    width: 300px;
}

aside div {
    color: beige;
    text-align: center;
}

.watchlist-header {
    background-color: beige;
}

.watchlist-header h1 {
    margin-left: 30px;
}

.watchlist-header span {
    font-size: 15px;
    margin-left: 20px;
}