.header {
    display: flex;
    align-items: center;
    background-color: beige;
    color: #fff;
    padding: 5px;
}

.header img {
    width: 30px;
    height: 30px;
}

.header h2 {
    margin-right: auto;
    color: goldenrod;
    margin-left: 10px;
}

.header h3 {
    color: goldenrod;
    margin-right: 20px;
}

.header a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
margin-right: 20px;    
    transition: 0.3s ease-in-out;
}

.header a:hover {
    color: green;
}

.header span {
    margin-right: 5px;
}

.chart-display-section {
    display: flex;
    flex-direction: column;
}

.chart-top-stack {
    display: flex;
    align-items: baseline;
}

.twentyfourhour {
    margin-left: 15px;
    color: beige;
}

.chart-current-price {
    background-color: beige;
    color: black;
    padding: 5px 10px;
}

.chart-gain-percentage {
    margin-left: 10px;
    color: #28a745;
    font-weight: bold;
}

.chart-section {
    background-color: #f5f5f5;
}

.chart-statistics {
    display: flex;
    justify-content: space-around;
}

.chart-statistics div {
    background-color: beige;
    padding: 10px;
}

.chart-statistics div div {
    color: goldenrod;
    font-weight: bolder;
}

.chart-statistics div p {
    text-align: center;
    color: green;
    font-weight: bold;
}

.chart-statistics p {
    margin: 5px 0;
    color: #555;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.neutral {
    color: grey;
}

.svg-chart {
    display: flex;
}